# .gitignore file for dotfiles

## Ignore everything then override
*

## Dotfiles
!.dotfiles/
!.dotfiles/Brewfile
!.dotfiles/install.sh
!.dotfiles/README.md
!.dotfiles/new-chrome-profile.md

## git
!.gitignore
!.gitconfig

## Shells
!.profile
!.bash_profile
!.strict_mode.sh
!.zlogin
!.zshrc

## Editors
!.editorconfig

### Atom
!.atom/
.atom/.gitignore
!.atom/config.cson
# !.atom/github.cson
# !.atom/init.coffee
!.atom/keymap.cson
!.atom/my-packages.txt
# !.atom/snippets.cson
!.atom/styles.less

### VSCode
!Library/
!Library/Application\ Support/
!Library/Application\ Support/Code/
!Library/Application\ Support/Code/User/
!Library/Application\ Support/Code/User/keybindings.json
!Library/Application\ Support/Code/User/settings.json
!.dotfiles/vscode-extensions.txt

### Vim
!.vim/
!.vimrc
!.vim/install.sh
!.vim/update.sh

### Haskell
!.ghc/
!.ghc/ghci.conf

## To copy outside of VCS
# .npmrc
# .s3cfg
# .zshenv
