# .gitignore file for dot-files

## Ignore everything then override
*

## Dotfiles
!.dotfiles/
!.dotfiles/install.sh

## git
!.gitignore
!.gitconfig

## Shells
!.profile
!.bash_profile
!.strict_mode.sh
!.zlogin
!.zshrc

## Editors
!.editorconfig

### Atom
!.atom/
.atom/.gitignore
!.atom/config.cson
# !.atom/github.cson
# !.atom/init.coffee
!.atom/keymap.cson
!.atom/my-packages.txt
# !.atom/snippets.cson
!.atom/styles.less

### Vim
!.vim/
!.vimrc
!.vim/install.sh
!.vim/update.sh

## To copy outside of VCS
# .npmrc
# .s3cfg
# .zshenv
