[user]
	name = willclarktech
	email = willclarktech@users.noreply.github.com
	signingkey = 551A86E2E398ADF7
[core]
	editor = vim
[alias]
	branch-name = !git rev-parse --abbrev-ref HEAD
	unstage = reset HEAD --
	co = checkout
	pfl = !git push --force-with-lease
	b = branch
	pu = !git push --set-upstream origin $(git branch-name)
	d = diff
	dname = diff --name-only
	cm = commit -m
	ca = commit --amend
	upstream = !git for-each-ref --format='%(upstream:short)' $(git symbolic-ref -q HEAD)
	cmreset = commit -m \"WIP: reset\" --no-gpg-sign
[push]
	default = simple
[credential]
	helper = cache --timeout=360000
	useHttpPath = true
[commit]
	gpgsign = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[tag]
	forcesignannotated = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
