# .gitignore file for dotfiles

## Ignore everything then override
*
!Library/
!Library/Application\ Support/

## Dotfiles
!.dotfiles/
!.dotfiles/Brewfile
!.dotfiles/Brewfile.lock.json
!.dotfiles/install.sh
!.dotfiles/README.md
!.dotfiles/new-chrome-profile.md

## git
!.gitignore
!.gitconfig

## Shells
!.profile
!.bash_profile
!.strict_mode.sh
!.zlogin
!.zshrc

## Editors
!.editorconfig

### VSCode
!Library/Application\ Support/Code/
!Library/Application\ Support/Code/User/
!Library/Application\ Support/Code/User/keybindings.json
!Library/Application\ Support/Code/User/settings.json
!.dotfiles/vscode-extensions.txt

### Vim
!.vim/
!.vimrc
!.vim/install.sh
!.vim/update.sh

### Haskell
!.ghc/
!.ghc/ghci.conf

### Python
!Library/Application\ Support/pypoetry/
!Library/Application\ Support/pypoetry/config.toml

## To copy outside of VCS
# .npmrc
# .s3cfg
# .zshenv
